#main {
    width: 100vw;
    height: 100vh;
    background-image: url("back1.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: monospace;
}

#bookshelf {
    align-self: center;
    width: 1100px;
    height: 500px;
    background-color: rgb(247, 242, 213);
    opacity: 0.6;
}

#controls {
    display: flex;
    flex-direction: row;
    column-gap: 20em;
    justify-content: center;
}

button {
    border: 3.5px solid black;
    border-radius: 3px;
    padding: 1em 1em 1em 1em;
    color: rgb(218, 216, 216);
    font-size: 1.2em;
    background-color: rgba(143, 58, 25, 0.932);
}



